    .a {
        background-color: #ab0d0d;
        width: 950px;
        height: 300px;
    }

    .b {
        background-color: #9bf8c9;
        height: 250px;
        width: 250px;
    }

    .c {
        color: white;
        background-color: rgb(160, 71, 3);
        font-size: 25px;
        font-family: monospace;
        font-weight: bold;
    }

    .d {
        width: 49.9%;
        height: 55vh;
        background-color: rgb(12, 95, 14);
    }

    .e {
        width: 49.5vw;
        height: 45%;
        background-color: rgb(202, 205, 10);
    }